body{
    max-width: 1440px;
    background-color: hsl(185, 75%, 39%);
    color: hsl(227, 10%, 46%);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 2rem;
    position: relative;
    z-index: 2;
}
.bg-img{
    position: fixed;
}
#bg-top{
    background-position: left top;
    z-index: 1;
}
#bg-btm{
    background-position: right bottom;
    z-index: 1;
}
#prof-pic{
    max-width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin: auto;
}
#bold{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}
#stats-p{
    letter-spacing: 2px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }