/* NEED TO/HELP WITH:
1. How to better use SVGs
2. How to do the top bg-color and bg-svg of the container
3. How to place the gradient circles in the background more effectively
4. I think I know how to make the profile pic be on top
5. Add the top line for stats row
6. Padding on everything
7. Container box shadow
*/

body{
    max-width: 1440px;
    background-color: hsl(185, 75%, 39%);
    color: hsl(0, 0%, 59%);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    z-index: 2;
}
#container-top{
    background-color: hsl(185, 75%, 39%);
}
.bg-img{
    position: fixed;
}
#bg-top{
    z-index: 1;

}
#bg-btm{
    z-index: 1;

}
#prof-pic{
    max-width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin: auto;
}
#bold{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}
#stats-p{
    letter-spacing: 2px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }